Flask==3.0.0
Flask-Cors==4.0.0
matplotlib==3.9.1
networkx==3.3
numpy==1.23.5
pandas==1.5.3
plotly==5.22.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-file==1.5.1
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
SecretStorage==3.3.1
gunicorn