<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <meta name="description" content="{% block description %}A blog about Explainable AI, Machine Learning, Data Science, and AI.{% endblock %}">
    <meta name="keywords" content="Explainable AI, Machine Learning, Data Science, AI, Blog">
    <meta name="Gopal Jamnal" content="Gopal Jamnal">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- For font-awesome icons -->
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('new_post') }}">New Post</a>
        <a href="{{ url_for('contact') }}">Contact Me</a>
        <a href="{{ url_for('about') }}">About Me</a>
        <form action="{{ url_for('search') }}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </nav>

    <!-- Header Section for Profile Picture (Only on Index Page) -->
    {% block header %}{% endblock %}

    <div class="container">
        <div class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            <h2>Archive</h2>
            <ul>
                {% for post in posts %}
                    <li><a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Jupiter All rights reserved.</p>
    </footer>
</body>
</html>
