{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.summary }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p class="post-date">{{ post.date }}</p>
        <div class="post-content">
            {{ post.content }}
        </div>
        {% if post.image_urls %}
            <div class="post-images">
                {% for image_url in post.image_urls %}
                    <img src="{{ image_url }}" alt="Post Image" class="responsive-image">
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}
