{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to My Blog</h1>
    <div class="posts">
        {% for post in posts %}
            <div class="post" id="post-{{ post.id }}">
                <h2>{{ post.title }}</h2>
                <p class="post-date">{{ post.date }}</p>
                <p>{{ post.content }}</p>
                {% if post.image_url %}
                    <img src="{{ post.image_url }}" alt="Post Image">
                {% endif %}
                <button class="like-button" data-post-id="{{ post.id }}">Like (<span class="like-count" id="like-count-{{ post.id }}">{{ post.get('likes', 0) }}</span>)</button>
                <div class="more-content" style="display:none;">
                    <!-- Additional hidden content -->
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('.like-button').click(function(){
                var postId = $(this).data('post-id');
                $.post('/like/' + postId, function(data){
                    $('#like-count-' + postId).text(data.likes);
                });
            });

            $('.post').click(function(){
                $(this).find('.more-content').toggle();
            });
        });
    </script>
{% endblock %}
